services:
  app:
    container_name: my-profile-app
    platform: linux/arm64
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/arm64
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
